.container{display: flex;}
.menu ul{
display: flex;
list-style: none;
gap: 29%;
margin:0px;
/* justify-content: space-evenly; */
}
.menu a{
text-decoration: none;
position: absolute;
display: block;
top:3%;
}
.logo{
    width: 25%;
}
.menu{
width:40%;
}
.buttons_loginsignin{
   position: absolute;
    width:10%;
    right:11%;
    top:3%;
}
.buttons_loginsignin button{
    font-family: Nunito Sans;
    font-size: 14px;
    font-weight: 700;
    line-height: 16.8px;
    text-align: left;
    color: white;
}
.name{
font-family: Nunito Sans;
font-size: 24px;
font-weight: 900;
line-height: 40px;
text-align: left;
position: absolute;
left: 18%;
}
.logo{
    position: relative;
}
.logops{
    position:absolute;
    left:-6.5rem;
}
.login{
    background: transparent;
    border: none;
    position: absolute;
    left:0;
    top:30%;
}
.signup{
    background: transparent;
    border: none; 
    position: absolute;
    right:0;
    top:30%;
}
